//COLORS:

$muted_green: rgba( 104, 125, 119, 1);

$not_quite_white: rgba(236, 235, 240, 1);

$nqw: rgba(236, 235, 240, 1);

$muted_green: rgba(193, 206,150, 1);

$charcoal: rgba( 72, 74, 71, 1);


$crisp-white: rgba(255,255,255, 1);

$cool-white: rgba(200,200,200, 1);

$red-white: rgba(255,200,200, 1);

$gray: rgba(159,162,171, 1);

$fb-blue: rgba(76,102,164, 1);

$muted-orange: rgba(173, 67, 22, 1);

$bronze-yellow: rgba(173, 123, 22, 1);

$lime-yellow: rgba(168, 173, 22, 1);

$lime-green: rgba(25, 173, 22, 1);

$turks-green: rgba(22, 173, 135, 1);

$smooth-blue: rgba(22, 150, 173, 1);

$cool-blue: rgba(173, 67, 22, 1);

$clean-blue: rgba(100,100,255, .75);

$deep-blue: rgba(22, 82, 173, 1);

$electric-blue: rgba(22, 52, 173, 1);

$royal-blue: rgba(35, 22, 173, 1);

$blurple: rgba(60, 22, 173, 1);

$viola: rgba(133, 22, 173, 1);

$violet: rgba(173, 22, 173, 1);

$dark-viola: rgba(173, 22, 140, 1);

$dark-violet: rgba(173, 22, 100, 1);

$almost-red: rgba(173, 22, 62, 1);

$red: rgba(173, 22, 22, 1);

$deep-red: rgba(173, 4, 4, 1);

$burnt-orange: rgba(173, 55, 4, 1);

$dark-gold: rgba(173, 100, 4, 1);

$blue: rgba(4, 52, 173, 1);

$blueblue: #0434AD;

$electric-blue: rgba(100,100,255, .75);

//FONTS

$mont: 'Montserrat', sans-serif;

$cursive: 'Great Vibes', cursive;

//MIXINS:

@mixin border($color) {

}

//FONTS:

