@import 'colors_and_more';

body{
  background-color: $red-white;
  width: 100%;
}

.main_top{
  background: url('../images/StartupMock.PNG') no-repeat;
  width: 1525;
  height: 885px;
}


.main_logo{
  width: 200px;
  height: 200px;
}

.main_logo img{
  width: 800px;
  height: 600px;
}