
body{
  width: 100%;
  background: url('../images/StartupMock.PNG') fixed no-repeat;
  background-size: cover;
  text-align: center;
}

.main_top{
  margin-top: 80px;
  max-width: 100%;
}

.top-bar{
  height: 80px;
  width: 100%;
  padding: 15px;

}

.main_logo img{
  margin: auto;
  text-align: center;
}

.the_header{
  z-index: 1;
  margin-left: 0px;
}

.row{
  
}

.fixed{
  background-color: rgba(50,50,50, 1);
  box-shadow: 0px 15px 40px -10px rgba(0, 0, 0, .8);
}

.header_logo {
  width: 6em;

}


.logo-wrapper {
    position: relative;

}

.logo-wrapper .logo {
    position: absolute;
    left: 50%;
    right: 50%;
}


.textured{
  font-family: 'Noto Serif', serif;
  background: url('../images/diagonales_decalees.png');
}

.not_quite_white{
  color: rgba(236,235,240, 1);
}

.not_quite_white_section{
  color: rgba(104, 125, 119, 1);
  background: rgba(236,235,240, 1);
}

.green{
  color: rgba(104, 125, 119, 1);
}

.green_section{
  color: rgba(236,235,240, 1);
  background: rgba(104, 125, 119, 1);
}

.floaty h1{
  font-size: 100px;
}