

body{
  background-color: $red-white;
}

.main_top{
  background: url('../images/StartupMock.PNG') no-repeat;
}

.main_logo img{
  margin: auto;
  text-align: center;
}

.the_header{
  background-color: rgba(236, 235, 240, 1);
}

.row{
  
}

.header_logo {
  width: 6em;
}

.center_logo {
  margin: 0 auto;
}


.logo-wrapper {
    position: relative;
}

.logo-wrapper .logo {

    position: absolute;
    left: 50%;
    right: 50%;
}