
/* Yellow - #ffcc33 */
/* Blue -#00cccc */
/* Pink - #cc3366 */
/* Charcole - #666666 */
/* White - #FFFFFF */
body{
  background: #ECEBFO;
}


/* Titles */
h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;
color: #00cccc;
text-transform: uppercase;
}

.bigfont{
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  text-align: center;
  color: #666666; 
}


/* body*/
p{ 
  font-family: 'Noto Serif', serif;
  color: #666666;
}

/* TEXT LINKS */
a:link {
  font-family: 'Noto Serif', serif;
  color: #666666; 
}

/* mouse over link */
a:hover {
    color: #00cccc;
}


/* MENU LIST */
.header-nav li {
  display: inline-block;
  list-style: none;
}
.header-nav a{
  font-family: 'Oswald', sans-serif;
  color: #666666;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
/* active link */
.header-nav a:active{
    color: #00cccc;
    text-decoration: underline;
}

/* mouse over link */
.header-nav a:hover {
    color: #00cccc;
}

/* CIRCLE */
/* To size: The border-radius has to be half the height of the height*/
.button{
  font-size: 200px;
  display:block;
  width:20em;
  height:20em;
  border-radius:10em;
  font-size:20px;
  color:#FFFFFF;
  line-height:100px;
  text-align:center;
  background:#00cccc;
}
i{
  font-size: 200px;
}

.bigger_icon {
  
}

.tile {
  background:url('../images/seamlesspattern.jpg');
}

.firstrowpic {
}


/* PARALLAX STYLES */
#parallax1 {
  position: fixed;
  z-index: -30;
}

#parallax2 {
  position: absolute;
  z-index: 0;
  
}
/* Lists */


.linklists li {
  font-family: 'Noto Serif', serif;
  color: #666666;
}

.linklists li a {
  text-decoration: none;
  color: #666666;
  line-height: 1.5em;
}

.linklists li a:hover {
  color: #cc3366;
}

/* COLOURS */

.yellow {
  background: #ffcc33;
}

.blue {
  background: #00cccc;
}

.pink {
  background: #cc3366;
}

.charcole {
  background: #666666;
}

.white {
  background: #ffffff;
}

/*NAV FOOTER STYLES*/

footer {
  padding: 4% 0 4% 0;
}

nav.footer-nav {
  padding: 50px 0 0 0;
}

nav.footer-nav li {
  padding: 0 10px;
}

nav.footer-nav a {
  color: #00cccc;
}

nav.footer-nav a:hover {
  text-decoration: underline;
}

footer p {
  color: #00cccc;
  font-size: 80%;
  padding: 0;
  line-height: 5px;
}

i {
  color: #ffffff;
  margin-left: 15px;
}

i.grey-icon {
  color: #666666;
}

.grey-tile {
  background: url("../images/seamlesspatterngrey.jpg");
}

/*shapes*/
  
.chevron {
		background-attachment: scroll,							scroll,				fixed;
    background-image: url("../images/top-3200.svg");
		background-position: bottom center,					top left,				center center;
		background-repeat: repeat-x,						repeat,					no-repeat;
		background-size: 3200px 460px,					auto,					cover;
		color: rgba(255, 25, 25, 0.8);
		padding: 10em 0 20em 0;
		position: relative;
		text-align: center;

}

.chevron-section{
  background: #00cccc;
}